<h2>Conversation - <%= @conversation.title %></h2>

<div class="post-list">
  <% for post in @conversation.posts.all(:order => 'created_at DESC') do %>
    <div class="row">
      <div class="two columns">
        <%= time_ago_in_words(post.created_at) %>
        <%= post.user.email %>
        <%= image_tag avatar_url(post.user) %>
      </div>
      <div class="ten columns">
        <% if post.parent %>
          <blockquote>
            <%= post.parent.content %>
          </blockquote>
        <% end %>
        <%= simple_format post.content %>
        <%= link_to "Reply to #{post.user.email}", new_forum_conversation_post_path(@conversation.forum, @conversation, :parent => post) %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Reply", new_forum_conversation_post_path(@conversation.forum, @conversation) %>